
<h1 class="text-center mt-4">Login</h1>
<div class="container">
<div class="row justify-content-center">
<div class="col-3">
 
 <%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
     <div class= "alert alert-danger">
     <%= errors %></p>
    <% end %>
    </div>
  <% end %>
    

 <%= form_with(scope: :session, url: login_path ) do |form| %> 

<%#= form_for :session, url: login_path, html: {class: "form-inline"} do |form| %>
<div  class="form-group row" > 
  <%= form.label :email %></br>
  <%= form.email_field :email, class: "form-control shadow-sm rounded", placeholder: "Enter your email address" %>
</div>

<div  class="form-group row">
  <%= form.label :password %></br>
  <%= form.password_field :password,  class: "form-control shadow-sm rounded", placeholder: "Enter your password"   %>
</div>

<div class="form-group text-center my-2" >
  <div > <%= form.submit "Login" %> </div>
   <div class="form-group text-center mb-2 mt-3 "><b>New User ? &nbsp;&nbsp;<%= link_to "Signup", signup_path %></b></div>

</div>

<% end %>
