<center>
<table>

<h2>List employees having age > 20 and < 40</h2>
    <th>First_name</th>
    <th>Last_name</th>
     <th>Age</th>
    <th>Email</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
    
     <% @employee_age_bewteen_twenty_and_fourty.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.age %></td>
            <td><%= employee.email %></td>
            <td><%= employee.no_of_order %></td>
            
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
         
        </tr>
    <% end %>
</center>
</table>

<center>
<table>

<h2>List employees which are full_time_available</h2>
    <th>First_name</th>
    <th>Last_name</th>
     <th>Age</th>
    <th>Email</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
    
     <% @employee_full_time_available.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.age %></td>
            <td><%= employee.email %></td>
            <td><%= employee.no_of_order %></td>
            
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
         
        </tr>
    <% end %>
</center>
</table>




<center>
<table>
   
<h2> List employees which have exact 5 number of orders and age > 25</h2>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>

     
    <% @employee_having_no_of_order_five.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>
</center>
<h2> List employees which are created before today </h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>

<% @employee_created_one_day_ago.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2>List employees which have exact 5 number of orders Or age < 25</h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>

<% @employee_order_no_five_and_age_less_than_twentyfive.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2> List employees in descending order by age</h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>

<% @employee_age_in_descending_order.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2> List employees in ascending order by number of order </h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th> 
<% @employee_NoOfOrder_in_descending_order.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2> List employees having salary > 45000 </h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
<% @employee_salary_greater_than_fourtyfive.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2> Group employees by no_of_order with them and display employees with no_of_order > 5 </h2>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>

<% @employee_NoOfOrder_greater_than_five.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h2> Write example for keywords unscope, only, reselect, reorder, reverse_order</h2>
<h3>1) Example for unscope</h3>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
<% @employee_limit_five_NoOfOrder.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h3>2) Example for no of order gretaer than 5 and limit five</h3>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_avilable</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
<% @employee_limit_five.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h3>3) Example for reselect email only</h3>

<table>

    <th>Email</th>
    <th colspan='6' align="center" >Actions</th>

        <% @employee_select_firstname_only.each do |employee| %>
        <tr>
            <td><%= employee.email %></td>
        </tr>
    <% end %>
</table>

<h3>5) Example for age decending and make it reversereverse_order</h3>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
<% @employee_reverse_descending_order.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

<h3>4) Example for reorder</h3>

<table>

    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No_of_order</th>
    <th>Full_time_available</th>
    <th>Salary</th>
    <th colspan='6' align="center" >Actions</th>
<% @employee_reorder.each do |employee| %>
        <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_order %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    <% end %>
</table>

