<div class="col-lg-8 mx-lg-auto">
<div class="card shadow">
<div class="card-header">

<center>
  <h2 class="card-title text-center">Employee List</h2>
  <table>
		<th>Employee Id</th>
		<th>Name</th>
		<th>Email</th>
		<th colspan="3">Action</th>
  <% @employees.each do |emp| %>
    <tr>
      <td><%= emp.id %></td>
      <td><%= emp.employee_name %></td>
      <td><%= emp.email %></td>
      <td><%= button_to "Show", employee_path(emp), method: :get,class:"btn btn-info"%></td>
      <td><%= button_to "Edit", edit_employee_path(emp), method: :get,class:"btn btn-dark"%></td> 
      <td><%= button_to "Delete", employee_path(emp), method: :delete,class:"btn btn-danger"%></td>
    </tr>
  <% end %>
  </table>
</center>
	<center>
	  <div>
	    <%= link_to "New employee",new_employee_path, class:"btn btn-primary mt-3 mb-3" %>
    </div>
		<div>
	    <%= link_to "Generic Search",employees_search_path, class:"btn btn-danger" %>
    </div>
	</center>
