<div class="col-lg-26 mx-lg-auto">
  <div class="card shadow">
  <div class="card-header">

<% if flash[:notice] %>
  <% flash.each do |name,msg| %>
    <h3 style="color:green;"><%= msg %></h3>
  <% end %>
<% end %>

<center>

    <table> 
        <th>Employee ID</th>
        <th>Employee Nameiption</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Hobbies</th>
        <th>Adresses</th>
        <th>Mobile Number</th>
        <th>Date of Birth</th>
        <th>Document</th>
				<%
=begin%>
 <th>Full address</th>
				<th colspan="1"> Quarter number </th>
				<th colspan="1"> Street name </th>
				<th colspan="1"> Sector </th>
				<th colspan="1">  City </th>
				<th colspan="1"> State </th>
        <th colspan="1"> Quarter number </th>
				<th colspan="1"> Street name </th>
				<th colspan="1"> Sector </th>
				<th colspan="1">  City </th>
				<th colspan="1"> State </th> 
<%
=end%>
    
        <th colspan=1 >Actions</th>

        <tr>
            <td><%= @employee.id %></td>
            <td><%= @employee.employee_name %></td>
            <td><%= @employee.email %></td>
            <td><%= @employee.gender %></td>
            <td><%= @employee.hobbies %></td>
            <td><%= @employee.address %></td>
            <td><%= @employee.mobile_number %></td>
            <td><%= @employee.birth_date %></td>
            <td><strong><%= @employee.document %></td></strong>
            <%
=begin%>
 <td><%= @employee.address %></td>
						<% @employee.emp_addresses.each do |address| %>
						<td><%= address.quarter_number%></td>
						<td><%= address.street_name %></td>
						<td><%= address.sector %></td>
						<td><%= address.city %></td>
						<td><%= address.state %></td>
       
            <td><%= address.quarter_number%></td>
						<td><%= address.street_name %></td>
						<td><%= address.sector %></td>
						<td><%= address.city %></td>
						<td><%= address.state %></td> 
<%
=end%>
            <td><%= button_to "Edit", edit_employee_path(@employee), method: :get %></td>
            <%
=begin%>
 <% end %> 
<%
=end%>
        </tr>

    </table>
   <%= link_to "Add a New Employee", new_employee_path, class: "btn btn-primary btn-sm mb-3 mt-5" %></br>
  <%= button_to 'Home', employees_path, method: :get,class: "btn btn-primary btn-sm mt-4" %>
</center>
