<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: blue"> 
		  <h2><%= pluralize(order.errors.count, "error") %> prohibited this order being saved: </h2>

			<ul>
			  <% order.errors.each do |error| %>
			  <li><%= error.full_message %></li>
			  <% end %>
			</ul>
	  </div>
	<% end %>

<div style="margin:10px;">
  <%= form.label :quantity, style: "display: block" %>
  <%= form.number_field :quantity %>
</div>

<div style="margin:10px;">
  <%= form.label :product_id, style: "display: block" %>
  <%= form.select :product_id, Product.all.map { |t| [t.name, t.id]}>
</div>

<div>
  <%= form.label :customer_id, style: "display: block" %>
  <%= form.select :customer_id, Customer.all.map { |t| [t+f.name + " " + t.lname, t.id]} %>
</div>

<div>
  <%= form.label :status, style: "dsiplay: block" %>
  <%= form.number_field, :status %>
</div>

<div style="margin:10px;">
  <%= form.submit %>
</div>

<% end %>















	

  

