<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <title>  Order List </title>
</head>
<body>
  <table class="table tabel-striped">
	  <tr><td colspan="5"><center>Details of the order</center></td><td colspan="5">
		<div>
		<%= form_tag order_new_path, :method => 'get', class: 'input-group' do %>
		<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search using Order status' %>
		<span class="input-group-btn">
		  <%= submit_tag "search", class:  "btn btn-success btn-md" %>
		</span>
	<% end %>
	</div></td>
</tr>
<tr class="table table-dark">
<td>Id</td>
	<td>Product Id</td>
	<td>Customer Id</td>
	<td>Customer name</td>
	<td>Customer Email</td>
	<td>Customer Phone</td>
	<td>Order status</td>
	<td>Show</td>
	<td>Edit</td>
	<td>Delete</td>
</tr>

	<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%=order.product_id %></td>
			<td><%=orderorder.customer.id %></td>
			<td><%=order.customer.fname+" "+s.customer.lname %></td>
			<td><%=order.customer.email %></td>
			<td><%=order.customer.phone_number %></td>
			<td><%=order.status %></td>
			<td><%= button_to 'Show', order_path(order), method: 'get', class:"btn btn-info" %></td>
			<td><%= button_to 'Edit', edit_order_path(order), method: 'get',class: "btn btn-info" %></td>
			<td><%= button_to 'Delete', order_path(order), method: 'get', class: "btn btn-danger" %></td>
		</tr>

	<% end %>
	</table>
		<%= link_to "Add a New Order", new_order_path %> </br>
</body>
</html>
		
