<h1 class="text-center mt-4">Sign Up</h1>
<center>
<%= form_with model: @user do |form| %>
<div>
    <%= form.label :Username, class: "col-2 col-form-label " %></br>
    <%= form.text_field :username,  placeholder: "Enter a username" %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :Email %></br>
    <%= form.email_field :email, placeholder: "Enter a email"  %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :Password %></br>
    <%= form.password_field :password, placeholder: "Enter a password" %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.submit "Sign up", class: "btn btn-outline-dark btn-sm" %>
</div>
<% end %>
</center>