<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecordPractical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><center>
    <%
=begin%>
 <h1 style="color:red"ni> Advance-active-record-query-interface-pratical</h1> </center> 
<%
=end%>
   <div class="container">
   <br/>
    <%= yield %>
   </div>
   
  </body>
</html>
